<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Show resume added</title>
    <meta http-equiv="Content-Type" content = "text/html; charset=UTF-8"/>
</head>
<body>
<h1>Result</h1>
<p>You did successfully add your education in our database</p>


<h2>Education</h2>
<p th:text="'Dgreee:'+ ${neweducation.degree}"/>
<p th:text="'Your University:'+ ${neweducation.university}"/>
<p th:text="'Your Grduation Year:'+ ${neweducation.graduationYear}" />



</body>
</html>